In [185]:
####1) Importing the datasets

In [186]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [187]:
import spacy
nlp = spacy.load('en_core_web_sm')

In [188]:
df = pd.read_excel('C:/Users/ujjaw/Desktop/Ujjawal/ISB/FP1/CompanyNewsHeadlines_ICICI_Consolidated.xls')
df.head()

,Company,Date,tweet_text,Azure label,Score,TextBlob Label,Comparision
0,IBN,2024-01-04 00:00:00,IBN Stock Earnings: ICICI Bank Reported Result...,positive,0.728372,Neutral,Do not match
1,IBN,2024-01-04 00:00:00,IBN Stock Earnings: ICICI Bank Beats EPS for Q...,positive,0.769400,Neutral,Do not match
2,IBN,2024-01-04 00:00:00,12 Asian Countries with the Best Quality of Life,positive,0.872366,Positive,Match
3,IBN,2024-01-04 00:00:00,Zacks Industry Outlook Highlights Mitsubishi U...,positive,0.602522,Neutral,Do not match
4,IBN,2024-01-04 00:00:00,"Higher Rates to Aid HSBC's Q3 Earnings, IB &Tr...",neutral,0.531279,Positive,Do not match

In [189]:
df.head(1500)

,Company,Date,tweet_text,Azure label,Score,TextBlob Label,Comparision
0,IBN,2024-01-04 00:00:00,IBN Stock Earnings: ICICI Bank Reported Result...,positive,0.728372,Neutral,Do not match
1,IBN,2024-01-04 00:00:00,IBN Stock Earnings: ICICI Bank Beats EPS for Q...,positive,0.769400,Neutral,Do not match
2,IBN,2024-01-04 00:00:00,12 Asian Countries with the Best Quality of Life,positive,0.872366,Positive,Match
3,IBN,2024-01-04 00:00:00,Zacks Industry Outlook Highlights Mitsubishi U...,positive,0.602522,Neutral,Do not match
4,IBN,2024-01-04 00:00:00,"Higher Rates to Aid HSBC's Q3 Earnings, IB &Tr...",neutral,0.531279,Positive,Do not match
...,...,...,...,...,...,...,...
1495,Twitter,"Nov 3, 2023 Â· 4:18 PM UTC",Sony Bravia 164 cm (65 inches) 4K Ultra HD Sma...,neutral,0.450014,Positive,Do not match
1496,Twitter,"Nov 3, 2023 Â· 2:39 PM UTC",@Icicidirectcare @ICICIBank_Care @Vijaychandok...,positive,0.688278,Negative,Do not match
1497,Twitter,"Nov 3, 2023 Â· 11:03 AM UTC",ðŸ‘‰ Buying a home could get expensive ðŸ‘‰ U...,positive,0.739117,Negative,Do not match
1498,Twitter,"Nov 3, 2023 Â· 10:56 AM UTC",Fraud #icici first Learn to respond customer c...,negative,0.424363,Negative,Match
1499,Twitter,"Nov 3, 2023 Â· 10:50 AM UTC",@Icicidirectcare @ICICIBank_Care @Vijaychandok...,negative,0.132052,Negative,Match

In [190]:
# Drop columns 
columns_to_drop = ['Company', 'Date','Score','TextBlob Label','Comparision']
df = df.drop(columns=columns_to_drop)

In [191]:
df

                                             tweet_text Azure label
0     IBN Stock Earnings: ICICI Bank Reported Result...    positive
1     IBN Stock Earnings: ICICI Bank Beats EPS for Q...    positive
2      12 Asian Countries with the Best Quality of Life    positive
3     Zacks Industry Outlook Highlights Mitsubishi U...    positive
4     Higher Rates to Aid HSBC's Q3 Earnings, IB &Tr...     neutral
...                                                 ...         ...
1863  #ICICI #LOMBARD #GENERAL #INSURANCE: Q2  NET P...    positive
1864  ICICI Bank violates norms relating to Loans an...    positive
1865  RBI issues penalties worth 17cr to ICICI Bank ...    positive
1866  I have already sent my contact number. Note th...    negative
1867  à¤¨à¥à¤•à¤¸à¤¾à¤¨à¥€à¤šà¥à¤¯à¤¾ à¤¸à¤°à¥à¤µ...    positive

[1868 rows x 2 columns]

In [192]:
df['Azure label'].value_counts()

Azure label
positive    1049
neutral      419
negative     400
Name: count, dtype: int64

In [193]:
# check for null values
df.isnull().sum()
df=df.dropna()
df = df.reset_index(drop=True)

# no null values in the data

In [194]:
####2) Data Cleaning
# here we will remove stopwords, punctuations
# as well as we will apply lemmatization

In [195]:
import re
clean =  re.compile('<.*?>')
re.sub(clean,'',df.iloc[200].tweet_text)

'The six-member monetary policy committee kept repo rates unchanged at 6.5 percent in the December meeting...'

In [196]:
def clean_html(text):
    clean =  re.compile('<.*?>')
    return  re.sub(clean, '' , text)

In [197]:
df['tweet_text'] = df['tweet_text'].apply(clean_html)

In [198]:
##function to remove special character. 

def remove_special(tweet_text):
    if tweet_text is None:
        return None
    x=''

    for  i in tweet_text:
        if i.isalnum():
            x=x+i
        elif i.isspace():
            x=x+' '
        else:
            x=x +  ''
    return x

In [199]:
df['tweet_text'] = df['tweet_text'].apply(remove_special)

In [200]:
import re

def remove_non_ascii(text):
    return re.sub(r'[^\x00-\x7F]+', '', text)

# Example usage
original_text = "à¤¨à¥à¤•à¤¸à¤¾à¤¨à¥€à¤&^%^%$^šà¥à¤¯à¤¾ à¤¸à¤°à¥à¤"
cleaned_text = remove_non_ascii(original_text)

print("Original Text:", original_text)
print("Cleaned Text:", cleaned_text)

Original Text: à¤¨à¥à¤•à¤¸à¤¾à¤¨à¥€à¤&^%^%$^šà¥à¤¯à¤¾ à¤¸à¤°à¥à¤
Cleaned Text: &^%^%$^

In [201]:
df['tweet_text'] = df['tweet_text'].apply(remove_non_ascii)

In [202]:
df

                                             tweet_text Azure label
0     IBN Stock Earnings ICICI Bank Reported Results...    positive
1     IBN Stock Earnings ICICI Bank Beats EPS for Q1...    positive
2      12 Asian Countries with the Best Quality of Life    positive
3     Zacks Industry Outlook Highlights Mitsubishi U...    positive
4     Higher Rates to Aid HSBCs Q3 Earnings IB Tradi...     neutral
...                                                 ...         ...
1863  ICICI LOMBARD GENERAL INSURANCE Q2  NET PROFIT...    positive
1864  ICICI Bank violates norms relating to Loans an...    positive
1865  RBI issues penalties worth 17cr to ICICI Bank ...    positive
1866  I have already sent my contact number Note tha...    negative
1867        ICICI          httpsnews15marathicombyfo...    positive

[1868 rows x 2 columns]

In [203]:
df.describe()

                                               tweet_text Azure label
count                                                1868        1868
unique                                               1443           3
top     The banks asset quality improved as the gross ...    positive
freq                                                   45        1049

In [204]:
from bs4 import BeautifulSoup
import re

In [205]:
df['tweet_text'] = df['tweet_text'].apply(lambda x: BeautifulSoup(x).get_text())
df['tweet_text'] = df['tweet_text'].apply(lambda x: re.sub(r'http\S+', '', x))

In [206]:
import re

def contractions(s):
    s = re.sub(r"won't", 'will not', s)
    s = re.sub(r"wouldn't", 'would not', s)
    s = re.sub(r"couldn't", 'could not', s)
    s = re.sub(r"can't", 'can not', s)
    s = re.sub(r"n't", ' not', s)
    s = re.sub(r"'d", ' would', s)
    s = re.sub(r"'re", ' are', s)
    s = re.sub(r"'s", ' is', s)
    s = re.sub(r"'ll", ' will', s)
    s = re.sub(r"'t", ' not', s)
    s = re.sub(r"'ve", ' have', s)
    s = re.sub(r"'m", ' am', s)
    return s

# Assuming 'tweet_text' is the column containing text data in your DataFrame
df['tweet_text'] = df['tweet_text'].apply(contractions)

In [207]:
df

                                             tweet_text Azure label
0     IBN Stock Earnings ICICI Bank Reported Results...    positive
1     IBN Stock Earnings ICICI Bank Beats EPS for Q1...    positive
2      12 Asian Countries with the Best Quality of Life    positive
3     Zacks Industry Outlook Highlights Mitsubishi U...    positive
4     Higher Rates to Aid HSBCs Q3 Earnings IB Tradi...     neutral
...                                                 ...         ...
1863  ICICI LOMBARD GENERAL INSURANCE Q2  NET PROFIT...    positive
1864  ICICI Bank violates norms relating to Loans an...    positive
1865  RBI issues penalties worth 17cr to ICICI Bank ...    positive
1866  I have already sent my contact number Note tha...    negative
1867                                    ICICI              positive

[1868 rows x 2 columns]

In [208]:
import nltk

In [209]:
df['tweet_text']=df['tweet_text'].apply(lambda x: ' '.join([re.sub('[^A-Za-z]+','', x) for x in nltk.word_tokenize(x)]))

In [210]:
df

                                             tweet_text Azure label
0     IBN Stock Earnings ICICI Bank Reported Results...    positive
1        IBN Stock Earnings ICICI Bank Beats EPS for Q     positive
2         Asian Countries with the Best Quality of Life    positive
3     Zacks Industry Outlook Highlights Mitsubishi U...    positive
4     Higher Rates to Aid HSBCs Q Earnings IB Tradin...     neutral
...                                                 ...         ...
1863  ICICI LOMBARD GENERAL INSURANCE Q NET PROFIT B...    positive
1864  ICICI Bank violates norms relating to Loans an...    positive
1865  RBI issues penalties worth cr to ICICI Bank an...    positive
1866  I have already sent my contact number Note tha...    negative
1867                                              ICICI    positive

[1868 rows x 2 columns]

In [211]:
df['tweet_text']=df['tweet_text'].apply(lambda x: re.sub(' +', ' ', x))

In [212]:
df

                                             tweet_text Azure label
0     IBN Stock Earnings ICICI Bank Reported Results...    positive
1        IBN Stock Earnings ICICI Bank Beats EPS for Q     positive
2         Asian Countries with the Best Quality of Life    positive
3     Zacks Industry Outlook Highlights Mitsubishi U...    positive
4     Higher Rates to Aid HSBCs Q Earnings IB Tradin...     neutral
...                                                 ...         ...
1863  ICICI LOMBARD GENERAL INSURANCE Q NET PROFIT B...    positive
1864  ICICI Bank violates norms relating to Loans an...    positive
1865  RBI issues penalties worth cr to ICICI Bank an...    positive
1866  I have already sent my contact number Note tha...    negative
1867                                              ICICI    positive

[1868 rows x 2 columns]

In [213]:
df['tweet_text']

0       IBN Stock Earnings ICICI Bank Reported Results...
1          IBN Stock Earnings ICICI Bank Beats EPS for Q
2           Asian Countries with the Best Quality of Life
3       Zacks Industry Outlook Highlights Mitsubishi U...
4       Higher Rates to Aid HSBCs Q Earnings IB Tradin...
                              ...
1863    ICICI LOMBARD GENERAL INSURANCE Q NET PROFIT B...
1864    ICICI Bank violates norms relating to Loans an...
1865    RBI issues penalties worth cr to ICICI Bank an...
1866    I have already sent my contact number Note tha...
1867                                                ICICI
Name: tweet_text, Length: 1868, dtype: object

In [214]:
import string

In [215]:
punct = string.punctuation

In [216]:
punct

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [217]:
from spacy.lang.en.stop_words import STOP_WORDS

In [218]:
stopwords = list(STOP_WORDS) # list of stopwords

In [219]:
# creating a function for data cleaning

In [220]:
def text_data_cleaning(sentence):
  doc = nlp(sentence)

  tokens = [] # list of tokens
  for token in doc:
    if token.lemma_ != "-PRON-":
      temp = token.lemma_.lower().strip()
    else:
      temp = token.lower_
    tokens.append(temp)
 
  cleaned_tokens = []
  for token in tokens:
    if token not in stopwords and token not in punct:
      cleaned_tokens.append(token)
  return cleaned_tokens

In [221]:
# if root form of that word is not pronoun then it is going to convert that into lower form
# and if that word is a proper noun, then we are directly taking lower form, because there is no lemma for proper noun

In [222]:
text_data_cleaning("Hello all, It's a beautiful day outside there!")
# stopwords and punctuations removed

['hello', 'beautiful', 'day', 'outside']

In [223]:
df['tweet_text'] = df['tweet_text'].apply(text_data_cleaning)

In [224]:
df['tweet_text']

0       [ibn, stock, earnings, icici, bank, report, re...
1       [ibn, stock, earnings, icici, bank, beats, eps...
2                 [asian, countries, best, quality, life]
3       [zacks, industry, outlook, highlights, mitsubi...
4       [high, rate, aid, hsbcs, q, earnings, ib, trad...
                              ...
1863    [icici, lombard, general, insurance, q, net, p...
1864    [icici, bank, violate, norm, relate, loans, ad...
1865    [rbi, issue, penalty, worth, cr, icici, bank, ...
1866    [send, contact, number, note, issue, fraudulen...
1867                                              [icici]
Name: tweet_text, Length: 1868, dtype: object

In [225]:
# Perform Stemming
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [226]:
y = []
def stem_words(text):
    for i in text:
        y.append(ps.stem(i))
    z=y[:]
    y.clear()
    return z

In [227]:
df['tweet_text'] = df['tweet_text'].apply(stem_words)

In [228]:
def join_back(list_input):
    return " ".join(list_input)

In [229]:
df['tweet_text'] = df['tweet_text'].apply(join_back)

In [230]:
df['tweet_text']

0               ibn stock earn icici bank report result q
1                     ibn stock earn icici bank beat ep q
2                         asian countri best qualiti life
3       zack industri outlook highlight mitsubishi ufj...
4                 high rate aid hsbc q earn ib trade hurt
                              ...
1863    icici lombard gener insur q net profit b vs b ...
1864    icici bank violat norm relat loan advanc rbi i...
1865    rbi issu penalti worth cr icici bank kotak mah...
1866    send contact number note issu fraudul debit ac...
1867                                                icici
Name: tweet_text, Length: 1868, dtype: object

In [231]:
# This is the clean and processed data.
df

                                             tweet_text Azure label
0             ibn stock earn icici bank report result q    positive
1                   ibn stock earn icici bank beat ep q    positive
2                       asian countri best qualiti life    positive
3     zack industri outlook highlight mitsubishi ufj...    positive
4               high rate aid hsbc q earn ib trade hurt     neutral
...                                                 ...         ...
1863  icici lombard gener insur q net profit b vs b ...    positive
1864  icici bank violat norm relat loan advanc rbi i...    positive
1865  rbi issu penalti worth cr icici bank kotak mah...    positive
1866  send contact number note issu fraudul debit ac...    negative
1867                                              icici    positive

[1868 rows x 2 columns]

In [232]:
#We will not Split train and test data .

from sklearn.model_selection import train_test_split
X_train,X_test,Y_train, Y_test = train_test_split(df['tweet_text'], df['Azure label'], test_size=0.25, random_state=30)
print('Train: ',X_train.shape,Y_train.shape,'Test: ',(X_test.shape,Y_test.shape))

Train:  (1401,) (1401,) Test:  ((467,), (467,))

In [233]:
##RANDOM FOREST

In [234]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

In [235]:
vectorizer = TfidfVectorizer(max_features=1000, stop_words='english')
X_train_tfidf = vectorizer.fit_transform(X_train)
X_test_tfidf = vectorizer.transform(X_test)

In [236]:
rf_model = RandomForestClassifier(n_estimators=100, random_state=42)
rf_model.fit(X_train_tfidf, Y_train)

RandomForestClassifier(random_state=42)

In [237]:
# Predictions
predictions = rf_model.predict(X_test_tfidf)

In [238]:
# Evaluation
print(f"Accuracy: {accuracy_score(Y_test, predictions)}")
print(classification_report(Y_test, predictions))

Accuracy: 0.7987152034261242
              precision    recall  f1-score   support

    negative       0.76      0.64      0.69       103
     neutral       0.95      0.57      0.72       101
    positive       0.78      0.95      0.86       263

    accuracy                           0.80       467
   macro avg       0.83      0.72      0.76       467
weighted avg       0.81      0.80      0.79       467

In [239]:
###SVM

In [240]:
from sklearn.svm import LinearSVC
clf = LinearSVC(random_state=0)

In [241]:
clf.fit(X_train_tfidf,Y_train)

LinearSVC(random_state=0)

In [242]:
y_test_pred=clf.predict(X_test_tfidf)

In [243]:
from sklearn.metrics import classification_report
report=classification_report(Y_test, y_test_pred,output_dict=True)

In [244]:
print(classification_report(Y_test, y_test_pred))

              precision    recall  f1-score   support

    negative       0.70      0.61      0.65       103
     neutral       0.75      0.61      0.67       101
    positive       0.78      0.87      0.82       263

    accuracy                           0.76       467
   macro avg       0.74      0.70      0.72       467
weighted avg       0.75      0.76      0.75       467

In [245]:
##### Logistic Regression

In [246]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(max_iter=1000,solver='saga')

In [247]:
clf.fit(X_train_tfidf,Y_train)

LogisticRegression(max_iter=1000, solver='saga')

In [248]:
y_test_pred=clf.predict(X_test_tfidf)

In [249]:
from sklearn.metrics import classification_report
report=classification_report(Y_test, y_test_pred,output_dict=True)

In [250]:
print(classification_report(Y_test, y_test_pred))

              precision    recall  f1-score   support

    negative       0.76      0.59      0.67       103
     neutral       0.96      0.50      0.65       101
    positive       0.74      0.95      0.83       263

    accuracy                           0.77       467
   macro avg       0.82      0.68      0.72       467
weighted avg       0.79      0.77      0.76       467

In [251]:
##Naive Bayes

In [252]:
#from sklearn.svm import LinearSVC
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
#from sklearn.pipeline import make_pipeline

In [253]:
model = MultinomialNB()

In [254]:
from sklearn.metrics import classification_report

In [255]:
# Train the model on the training data

model.fit(X_train_tfidf, Y_train)

# Make predictions on the test data
labels = model.predict(X_test_tfidf)


# Evaluate the model
print(classification_report(Y_test, labels))

              precision    recall  f1-score   support

    negative       0.66      0.65      0.66       103
     neutral       0.86      0.49      0.62       101
    positive       0.77      0.90      0.83       263

    accuracy                           0.76       467
   macro avg       0.76      0.68      0.70       467
weighted avg       0.76      0.76      0.75       467

In [256]:
from sklearn.naive_bayes import GaussianNB,MultinomialNB,BernoulliNB

In [257]:
dense_tf_x_train = X_train_tfidf.toarray()
dense_tf_x_test = X_test_tfidf.toarray()

In [258]:
clf1 = GaussianNB()
clf2 = MultinomialNB()
clf3 = BernoulliNB()

In [259]:
clf1.fit(dense_tf_x_train , Y_train)
clf2.fit(dense_tf_x_train , Y_train)
clf3.fit(dense_tf_x_train , Y_train)

BernoulliNB()

In [260]:
y_pred1 = clf1.predict(dense_tf_x_test)
y_pred2 = clf2.predict(dense_tf_x_test)
y_pred3 = clf3.predict(dense_tf_x_test)

In [261]:
from sklearn.metrics import accuracy_score

In [262]:
print( 'Gaussian',accuracy_score(Y_test,y_pred1))
print( 'MultinomialNB',accuracy_score(Y_test,y_pred2))
print( 'BernoulliNB',accuracy_score(Y_test,y_pred3))

Gaussian 0.5910064239828694
MultinomialNB 0.7558886509635975
BernoulliNB 0.7623126338329764

In [263]:
###CONCLUSION: Best Accuracy is 80% from RANDOM FOREST so we will go for that.